.box-bienvenida{
  width: 800px;
  border: 1px solid violet;
}
.container-menu {
  border: 1px solid green;
  display: grid;
  width: 800px;
  grid-template-columns: 2fr 6fr;
}
.box-btn-acceso {
  display: grid;
  grid-template-rows: 50px 50px;
}
.box-acceso {
  border: 1px solid red;
  margin-top: -100px;
}